body{
    font-family: sans-serif;
    background-color: aliceblue;
}
div{
    background-color: white;
    margin: auto auto;
    width: 500px;
    border: 1px solid grey;
    border-radius: 2em;
    padding: 1em;
    margin-top: 4em;
}
a{
    text-decoration: none;
    color: purple;
    font-size: 1em;
}
